<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hannes Siller | Photography</title>
    <!-- Your CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- CSS for the Lightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.12.0/baguetteBox.css">
</head>
<body>
    <header>
    <nav class="main-nav">
        <!-- This button only shows up on mobile when space is tight -->
        <button class="menu-toggle" onclick="toggleMenu()">MENU</button>
        
        <ul class="nav-list" id="nav-list">
            {% for cat_slug, cat_info in nav.items() %}
            <li class="nav-item {% if active_category == cat_slug %}active{% endif %}">
                <a href="#" class="cat-link">{{ cat_info.display_name }} </a>
                
                <ul class="dropdown">
                    {% for p in cat_info.projects %}
                    <li>
                        <a href="{{ url_for('project_page', category=cat_slug, project_name=p.slug) }}"
                        class="{% if name == p.slug %}current-proj{% endif %}">
                            {{ p.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <script>
        function toggleMenu() {
            var x = document.getElementById("nav-list");
            x.classList.toggle("show");
        }
    </script>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 Hannes Siller</p>
    </footer>
    <!-- Lightbox Javascript Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.12.0/baguetteBox.min.js"></script>

    <!-- Initiate the Lightbox -->
    <script>
      // This waits until the page is fully loaded to activate the gallery
      window.addEventListener('load', function() {
        baguetteBox.run('.gallery', {
            animation: 'fadeIn',
            overlayBackgroundColor: 'rgba(0,0,0,1)',
            noScrollbars: true,
            buttons: true // Shows the 'Next' and 'Previous' arrows
        });
      });
    </script>
</body>
</html>
