{% extends "layout.html" %}

{% block content %}
    <h2>{{ display_title }}</h2>
    <p>{{ description }}</p>
    <a href="{{ url_for('index') }}">Back Home</a>

    <div class="gallery">
    {% for img in images %}
        <a href="{{ url_for('static', filename='projects/' + category + '/' + name + '/' + img) }}">
            <img src="{{ url_for('static', filename='projects/' + category + '/' + name + '/' + img) }}" 
                alt="{{ display_title }}">
        </a>
    {% endfor %}
</div>
{% endblock %}
